@font-face {
    src: url(../../fonts/Lato-Black.ttf);
    font-family: Lato-Black;
}

@font-face {
    src: url(../../fonts/Lato-Bold.ttf);
    font-family: Lato-Bold;
}

@font-face {
    src: url(../../fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}

@font-face {
    src: url(../../fonts/Lato-Thin.ttf);
    font-family: Lato-Thin;
}

@font-face {
    font-family: codebold;
    src: url(../../fonts/SourceCodePro-Black.ttf);
}

@font-face {
    font-family: codelight;
    src: url(../../fonts/SourceCodePro-VariableFont_wght.ttf);
}


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1d1e;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

#title {
    font-family: codelight;
    color: white;
    text-align: center;
    padding: 130px;
}

#arrow {
    width: 40px;
    height: 40px;
    padding-left: 30px;
    padding: 30px;
}

#frankaicon {
    border-style: solid;
    border-radius: 30%;
    border-color: white;
    text-align: center;
    transition: .2s ease-out;
}

#frankaicon:hover {
    background-color: wheat;
}

#rifleicon {
    border-style: solid;
    border-radius: 30%;
    border-color: white;
    text-align: center;
    transition: .2s ease-out;
}

#rifleicon:hover {
    background-color: wheat;
}

#kitarea {
    border-style: solid;
    border-radius: 30%;
    border-color: white;
    text-align: center;
    transition: .2s ease-out;
    width: 160px;
    height: 160px;
}

#kitarea:hover {
    background-color: wheat;
}

ul {
    list-style: none;
    text-align: center;
    padding: 40px;
}

li {
    display: inline;
    padding-left: 30px;
}

